/* CSS document pro opakování 4C */
body {
    width: 1080px;
    font-family: 'Mali', cursive;
    margin: auto;
    padding: 0;
}

header {
    width: 100%;
    height: 250px;
}

h1 {
    float:right;
    margin: 60px 350px 0 0;
}

#logo {
    width: 220px;
    height: 220px;
    margin: 20px 20px;
}

nav {
    float:right;
    margin: 40px 0 0 0;
}
nav > ul li {
    list-style: none;
    margin: 0 20px 0 0;
    font-size: 24px;
}
li a {
    text-decoration: none;
}

div.content {
    width: 100%;
    margin: 20px 0;
    clear:both;
}
article.main {
    margin: 0 60px 40px 40px;
}

article.minor {
    margin: 0 0 50px 0;
}

article.minor > img {
    width: 120px;
    height: 120px;
    float: left;
    margin: 0 10px 0 0;
    padding: 2px;
    border: 2px solid #CCC;
}

footer {
    clear: both;
    width: 96.5%;
    height: 200px;
    padding: 0 0 0 40px;
    background-color: skyblue;

}
.footer-block {
    float: left;
    width: 28%;
    margin: 0 50px 0 0;
}

